.main {
  &__visual {
    margin-bottom: 50px;
  }
  &__text {
    font-size: 88px;
  }
}

.text1 {
  margin-bottom: 100px;
  & > p {
    letter-spacing: .1em;
  }
}
.text2 {
  flex-direction: row;
  justify-content: space-between;
}
.menues {
  flex-basis: 45%;
}
.stores {
  flex-basis: 45%;
}
.main_title {
  font-size: 18px;
}

.text3 {
  &__item {
    flex-direction: row;
  }
  &__li {
    &:nth-child(1) {
      flex-basis: 25%;
      height: 185px;
    }
    &:nth-child(2) {
      flex-basis: 35%;
      height: 277px;
    }
    &:nth-child(3) {
      flex-basis: 40%;
    }
  }
}