.main {
  &__text {
    font-size: 88px;
  }
}
.text2 {
  flex-direction: row;
  justify-content: space-between;
}
.menues {
  flex-basis: 45%;
}
.stores {
  flex-basis: 45%;
}

.text3 {
  &__item {
    flex-direction: row;
  }
  &__li {
    &:nth-child(1) {
      flex-basis: 25%;
      height: 185px;
    }
    &:nth-child(2) {
      flex-basis: 35%;
      height: 277px;
    }
    &:nth-child(3) {
      flex-basis: 40%;
    }
  }
}